{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container" text-align="center">
      <h2>To register a request for a new product, please enter the following details:</h2>

    <div class="section-content">
    <form action="/NewProductRequest" method="POST">
    {{ form.hidden_tag() }}
   
    {% for field in form %}
    
        {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField'%}

        {% set dpi_keyword = 'dpi_' %}
        {% if dpi_keyword not in field.name %}        

         <div class="form-group">
           {{ field.label() }}

              {% if field.errors %}
                {% for error in field.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
              {% endif %}
           
           {{ field() }}
        </div>
        
        {% endif %}
        {% endif %}
   
     {% endfor %}
    </div>

   <div class="section-content">
   <fieldset> <legend>DPI Parameters:</legend>
   {% for field in form %}

        {% set dpi_keyword = 'dpi_' %}
        {% if dpi_keyword in field.name %}        

         <div class="form-group form-inline">
           {{ field.label() }}

              {% if field.errors %}
                {% for error in field.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
              {% endif %}
           
           {{ field() }}
        </div>
        
        {% endif %}
    {% endfor %}
   </fieldset>
 
    {{ form.submit(class="btn-primary") }}
    </form>
    </div>
    
    </div>
    </div>
  </main>
{% endblock %}
